.inner {
    background-color: black;
    color: white;
    width: 380px;
    height: 680px;
    margin: auto;
    margin-top: 100px;
    font-size: 18px;
    border-radius: 30px;
    position: relative;
}

.header {
    padding: 20px;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
}

.input {
    width: 300px;
    height: 36px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    color: black;
}

.container-contact {
    margin-top: 16px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    width: 320px;
}

.mainblock {
    margin-top: 32px;
}

.firstName, .lastName {
    font-size: 18px;
    font-weight: 600;
}

.lastName {
    font-style: italic;
    text-transform: uppercase;
}

.gender {
    font-size: 24px;
    color: yellow;
}

.number {
    font-size: 14px;
    text-align: right;
}

.call {
    font-size: 36px;
    color: green;
}

.othericons {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    color: khaki;
    font-size: 24px;
    position: absolute;
    bottom: 0px;

}

.star, .clock, .person, .other {
    margin-right: 40px;
    margin-left: 10px;
    margin-bottom: 16px;
}

.auto {
    margin-left: 10px;
    margin-bottom: 16px;
}

.boxes {
    color: white;
    text-align: center;
    margin-top: 8px;
}

.box-male, .box-female, .box-undefined {
    margin-right: 8px;
    margin-left: 8px;
}

.contactlink {
    color: white;
    text-decoration: none;
}

.selected-contact {
    color: red;
}

.info-mainInfo {
    background: white;
    color: black;
    font-size: 32px;
    padding: 40px;
    border-radius: 20px;
    width: 640px;
    height: auto;
    margin: auto;
    margin-top: 10%;
    outline: 3px solid white;
    outline-offset: 10px;
}

.info-title {
    color: purple;
    font-weight: 800;
}

.info-container {
    height: 800px;
}